<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{asset "built/index.css"}}" />
  <script src="{{asset "built/index.js"}}" defer></script>

	<link href="{{asset 'css/fontawesome/css/fontawesome.css'}}" rel="stylesheet">
  <link href="{{asset 'css/fontawesome/css/brands.css'}}" rel="stylesheet">
  <link href="{{asset 'css/fontawesome/css/solid.css'}}" rel="stylesheet">
	<title>{{meta_title}}</title>
	<!--Ghost Head-->
	{{ghost_head}}
</head>
<body class="{{body_class}} bg-slate-100">
<header class="fixed inset-x-0 top-0 w-full">
	<div class="bg-black/80 border border-slate-950 h-20 md:m-2 p-3 md:rounded-lg shadow-md backdrop-blur-lg backdrop-contrast-150 backdrop-saturate-150 transition transition-all">
		<div class="xl:mx-auto h-full max-w-screen-xl container flex">
			<a href="/"><img src="{{@site.logo}}" alt="{{@site.title}}" class="h-full"></a>
			<div class="grow xl:flex hidden mx-4">
				{{navigation}}
			</div>
			<div class="grow xl:flex hidden mx-4 text-gray-100 self-center space-x-4 justify-end">
				<a href="" class="fa-solid fa-envelope"></a>
				<a href="" class="fa-brands fa-facebook-f"></a>
				<a href="" class="fa-brands fa-twitter"></a>
				<a href="" class="fa-brands fa-instagram"></a>
				<a href="" class="fa-brands fa-youtube"></a>
				<a href="" class="fa-brands fa-tiktok"></a>
				<a href="" class="fa-brands fa-telegram"></a>
				<a href="" class="fa-solid fa-rss"></a>
				<i class="fa-solid fa-magnifying-glass" data-ghost-search></i>
			</div>
			<div class="grow xl:hidden flex gap-4 self-center justify-end text-gray-100 text-2xl mr-2">
				<i class="fa-solid fa-search gh-search" data-ghost-search></i>
				<i class="fa-solid fa-bars burger"></i>
			</div>
		</div>
	</div>
	<div class="burger-menu xl:hidden hidden transition transition-all p-1 md:m-2 md:rounded-lg bg-black/80 border border-slate-950 shadow-md backdrop-blur-lg backdrop-contrast-150 backdrop-saturate-150 transition transition-all">
		{{> "vertNavigation"}}
	</div>
</header>


<main class="">
	{{{body}}}
</main>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
